@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1>Error.</h1>
<h2 >@ViewBag.error</h2><br />
<input class="btn btn-danger" type="button" value="Return" onclick="@("window.location.href='" + @Url.Action("Index") + "'");" />
